<div class="conatainer">
  <div class="row mx-auto d-block" style="width: 80%;">
<!--タイトル-->
    <div class="top-title text-center my-5">We Need Muscle !!</div>
    <h5 class="text-center" style="font-weight: bold; font-size: 30px;">
      We Need Muscle !!は、<span style="background: linear-gradient(transparent 70%, yellow 70%);">食事投稿機能</span>と
      <span style="background: linear-gradient(transparent 70%, yellow 70%);">食事管理機能</span>によって</br>
      より効果的なボディメイクをサポートします。
    </h5>
<!--食事投稿機能の説明-->
    <div class="text-center">
      <div class="about-function-intro">食事投稿機能</div>
    </div>
    <session class="d-flex mx-auto py-3" style="background-color: #EEFFFF; justify-content: center; border-radius: 20px;">
      <div class="col-sm-4 m-5 text-center">
        <span style="background: linear-gradient(transparent 70%, yellow 70%); font-size: 22px; font-weight: bold;">
          新規投稿画面で、総カロリーと</br>
          マクロ栄養素を入力し、投稿できる。
        </span>
        <%= image_tag('post_food_new.png', class: 'about_image mt-3') %>
      </div>
      <div class="d-flex">
        <p class="triangle"></p>
        <p class="triangle"></p>
        <p class="triangle"></p>
      </div>
      <div class="col-sm-4 m-5 text-center">
        <span style="background: linear-gradient(transparent 70%, yellow 70%); font-size: 22px; font-weight: bold;">
          他ユーザーと食事の投稿をシェアして</br>
          より効果的な食事を発見しよう！
        </span>
        <%= image_tag('post_food_new.png', class: 'about_image mt-3') %>
      </div>
    </session>
<!--食事管理機能の説明-->
    <div class="text-center">
      <div class="about-function-intro">食事管理機能</div>
    </div>
  </div>
<!--ステップ1-->
    <div class="row mx-auto d-flex" style="width: 80%; background-color: #FFFFCC; border-radius: 20px; justify-content: center;">
      <div class="col-sm-5 my-auto">
        <span style="background: linear-gradient(transparent 70%, yellow 70%); font-size: 22px; font-weight: bold;">1.投稿一覧の中から食事内容をセレクト</span>
      </div>
      <div class="col-sm-5">
        <%= image_tag('post_food_new.png', class: 'about-image-step mt-3') %>
      </div>
    </div>
<!--ステップ2-->
    <div class="col-sm-12"></div>
<!--ステップ3-->
    <div class="col-sm-12"></div>
</div>