// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.auto-set {
  background-color: #FFFFCC;
  padding: 10px;
  border-radius: 20px;
}
.manual-set  {
  background-color: #CCFFFF;
  padding: 10px;
  border-radius: 20px;
}

.target {
  background-color: #FFFFCC;
  border-radius: 20px;
  padding: 10px;
}
.food_regist {
  background-color: #DDFFFF;
  border-radius: 20px;
  padding: 10px;
}