<footer class="py-4 mt-5" id='footer'>
  <div class="container">
    <div class="mx-auto">
      <h6 class='text-center text-dark'>©︎Copyright 2020 We Need Muscle, inc. All right reserved.</h6>
    </div>
  </div>
</footer>